__pycache__/
*.pyc
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Celery and Redis
celerybeat-schedule.*
dump.rdb

# Logs and Data
logs/
data/
*.tar.zst
*.tgz
*.log
lib/
app/uploads/

# Node
node_modules/
bot/node_modules/
frontend/node_modules/
*.webm
*.wav
token.json

# User specified ignores
*.csv
split_reqs.py
frozen.txt
